.style1{
    text-align: center;
    color:#3e0355;
    font-family:Arial, Helvetica, sans-serif;
    background-color:  #b689c7;
}
.h2{
    font-size:30px;
}
.sp{
    background-color: #ebdef0 ;
    width: 1000px;
    height: 150px;
    padding: 10px;
    padding-left:50px;
    padding-bottom: 20px;
    border-style:groove;
    border-width: 3px;
    border-color: #36034b;
    margin-left:auto;
    margin-right: auto;
    overflow:auto;
    font-size: 18px;
    text-align:justify;
    
}
a:hover{
    color:#258308;
    font-size:20px;
}
ul{
    list-style-type:square;
    padding-left: 100px;
    list-style-position:inside ;
}
li{
    font-weight: bold  ;
    font-size: 20px;
}
img{
    width: 200px;
    height:170px;
    float:right;
    opacity: 0.75;
}
img:hover{
    opacity: 1.0;
}
table{
    font-size: 20px;
    margin-left: 50px;
}
td{
    padding: 3px;
}
.ds{
    width: 1300px;
    height: auto;
    font-size: 18px;
}
#pid{
    text-decoration:underline;
    text-decoration-color: #d9cfdd;
    text-decoration-style:wavy;
    text-shadow: 2px 2px 2px #e3b3f8;
}
table,th,tr,td{
    border-style:outset;
    border-color: #a76bbe;
    padding: 5px;
    margin-left:100px;
}
th{
    font-size:24px;
}
td{
    font-size: 18px;
    color:#3e0355;
    padding: 8px;
}
ol{
    list-style-type: none;
    display:inline-flex;
    gap: 10px;
    background-color: #f9effd;
    text-align: right;
    
}
a{
    text-decoration: none;
    color: #964848;
}
.ds2{
    height: auto;
    font-size: 18px;
    float: left;
    border-right: solid;
    padding: 2px;
    
}
.ds2.side{
    width: 23%;
}
.ds2.main{
    width: 48%;
}
.row{
    box-sizing: border-box;
}
.row:after{
    content: " ";
    display: table;
    clear: both;
}
#d1.a{
    color: #df0606;
}
@media only screen and (max-width:600px){
    .h2{
        font-size: 10px;
    }
    ol{
        display: block;

    }
    .ds2{
        width: 100%;
    }
    .ds2.side{
        width: 100%;
    }
    .ds2.main{
        width: 100%;
    }
    .sp{
        width: 90%;
    }
    img{
        float: none;
    }
}